.parallax{
  background-image: url("../photos/BG5.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  position:relative;
  width: 100%;
}
.navbar a:hover{
  color: red;
  text-decoration: none;
}
.navbar a{
  color:white;
}
.imgFluid{
  width: 100%;
  position: absolute;
}
.foot{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
#reseaux_facebook{
  width: 40%;
  margin: 10px;
  position: relative;
}
#reseaux_insta{
  width: 40%;
  margin: 10px;
  position: relative;
}
#contact{
  width: 40%;
  margin: 10px;
  position: relative;
}
section{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
}
.section1{
  display: flex;
  width: 60%;
  align-items: center;
}
.article1{
  margin-left: 10%;
  text-align: justify;
  color: white;
  background-color: rgba(0,0,0,0.6);
}
.chapillon img{
  width: 120%;
  margin: 10%;
  position: relative;
}
.tgalery{
  text-align: center;
  margin-top: 3%;
  color:white;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
}
.imgcarroussel{
    width:250px;
    height:200px;
    border-radius: 10px;
}
.titre{
    border-radius: 10px 100px / 120px;
    background-color: black;
    color:red;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    text-transform: capitalize;
}
.theme{
  padding-top: 5%;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  color: black;
}
.galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  padding: 5%;
}

.slideshow {
  width:250px;
  height: 200px;
  overflow: hidden;
}

.slideshow ul {
  width: 400%;
  height: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slideshow li{
  float: left;
}